body{
    background-image: url(arquivos/bugio_bg.png);
    background-size: cover;
}
#pagina{
    box-sizing: border-box;
    width: 1000px;
    padding: 24px;
    background-color: rgb(239, 255, 182);
    border-radius: 24px;
    margin: 50px auto;   
}
img{
    border-radius: 16px;
}